* {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
}

.kitty-canvas {
  position: relative;
  margin: 0 auto;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
